@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div style="min-height:100vh; background: linear-gradient(to right, #1e1e2f, #3b3b58); color: white; padding: 20px;">
            @Body
        </div>

        
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>